#wrapper{
	width: 1026px;
	overflow: hidden;
	margin: 0 auto;
}
#header {
	width: 100%;
	float: left;
	clear: left;
	overflow: hidden;
}
#main {
	width: 100%;
	float: left;
	clear: left;
	overflow: hidden;
}
#main .content{
	float: left;
	clear: left;
}
#main .sub-menu{
	float: left;
	clear: left;
}
#main .highlighted{
	float: left;
	clear: left;
}
#main .sidebar-right{
	float: left;
}
#footer {
	width: 100%;
	float: left;
	clear: left;
	overflow: hidden;
}
#footer .footer-content{
	width: 1026px;
	overflow: hidden;
	margin: 100px auto 0 auto;
}