body{
	background: #ffffff url('images/bg-repeat-ms.png') repeat-x 0 0;
}
#wrapper{
	position: relative; 	
}
#main{
	
}
#header h1{
	padding-left: 13px;
	float:left;
}
#header h1 a{
display: block;
width: 256px;
height: 105px;
margin-top: 84px;
}
.main-menu {
	float: left;
	overflow:hidden;
}
.main-menu ul li{
	float: left;
	padding-left: 2px;
}
#header .main-menu ul li a{
	display:block;
	text-decoration:none;
	color: #363535;
	font-family:"Times New Roman", Times, serif;
	font-size: 22px;
	font-weight:bold;
	text-transform:uppercase;
}
#header .main-menu ul li a{
text-decoration:none;
padding: 52px 26px 16px;
display: block;
}
#header .main-menu ul li a.active{
background: #66ccff;
text-decoration:none;
padding: 52px 26px 16px;
display: block;
}

#home .panel-panel{
overflow:hidden;
/*width:700px;*/
}
#home .panel-pane .views-row{overflow:hidden; width:700px; height:380px;}
 h2, h2 a{
	font-family:"Times New Roman", Times, serif;
	font-size:27px;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	color:#303030;
	/*border-bottom:4px solid #4690b6;*/
	padding: 0 0 8px;
	}
	h2 a{
	background: url("images/title-repeat.png") repeat-x scroll 0 0 transparent;
    color: #4690B6;
    display: block;
    font-family: "Times New Roman",Times,serif;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 0 19px;
    text-decoration: none;
    text-transform: uppercase;		
	}
	
#home .panel-panel .inside .pane-views .pane-content .view-display-id-block .views-field-title a{
	display:block;
	font-family:"Times New Roman", Times, serif;
	font-size:30px;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	color:#4690b6;
	padding: 15px 0 10px;
	background:  url('images/title-repeat.png') repeat-x 0 0;
}
#home .panel-panel .inside .pane-views .pane-content .view-display-id-block .views-field-field-image{
border:2px solid #4690b6;
width:333px;
float:left;
}
.node-promoted  {
	font-family:"Times New Roman", Times, serif;
	 font-size: 18px;
    line-height: 23px;
    padding: 0 0 10px 10px;
    text-align: justify;
	text-decoration:none;
	color:#303030;
	float:left;
	
	line-height:19px;
}
#home .panel-panel .inside .pane-views .pane-content .view-display-id-block .views-field-view-node .field-content a{
display:block;
font-family:"Times New Roman", Times, serif;
color:#FFF;
font-size:14px;
text-transform:uppercase;
background:  url('images/btn-full-text.png') no-repeat 0 0;
float:left;
width:98px;
height:30px;
  margin: 0 0 0 10px;
    padding: 7px 21px 11px 13px;
    text-decoration: none;
}
.panel-2col-bricks .panel-col-first {
    float: left;
    width: auto;
}
.pane-nodeblock-107 .content .field-item img{
	display:block;
	border:12px solid #66ccff;
	width:969px;
	height:431px;
	margin-bottom:40px;
}
#footer .footer-content .region-footer .block-menu .content ul li{
	float:left;
}
ul li.leaf {
    list-style-image: none;
    list-style-type: none;
}
#footer .footer-content{
overflow:visible !important;
position:relative;
}
#footer .footer-content .region-footer .block-menu .content{
height:13px;
}
#footer .footer-content .region-footer .block-menu .content ul {
	bottom: 44px;
    left: 55px;
    position: absolute;
    z-index: 1000;
}
#footer .footer-content .region-footer .block-menu .content ul li a{
display:block;
text-decoration:none;
color:#303030;
font-family:"Times New Roman", Times, serif;
font-size:16px;
padding:0 58px 0 0;
height: 21px;
}
#footer {
background:  url('images/footer-repeat.png') repeat-x 0 0;
margin:15px 0 5px 0;
overflow:hidden;
}
/*----------------------B U S I N E S S ----------------------*/
.not-front #main .content h2{display:none;}
.not-front #main .content h2.pane-title{
	display:block;
font-family:"Times New Roman", Times, serif;
	font-size:27px;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	color:#303030;
	/*border-bottom:4px solid #4690b6;*/
	padding: 0 0 8px;
}
/*  S L I D E S H O W  BUSINESS*/
#business .inside .pane-slide-business-new .view-slide-business-new .view-content{
overflow:hidden;
width:985px;
height:456px;
margin-bottom: 30px;
background: url('images/slide-bg-repeat.png') repeat-y 0 0;
border:3px solid #9fdadd;
}
#business .inside .pane-slide-business-new .view-slide-business-new .view-content .views_slideshow_cycle_main {
float:left;
width:685px;
}
#business .inside .pane-slide-business-new .view-slide-business-new .view-content .views_slideshow_main .views-slideshow-cycle-main-frame-row-item {
float:left;
width:685px;
}																										
#business .inside .pane-slide-business-new .view-slide-business-new .view-content .views_slideshow_main .views-slideshow-cycle-main-frame-row-item .views-field-title-1 .field-content a{
	display:block;
color:#48a9da;
font-family: "Times New Roman",Times,serif;
    font-size: 36px;
	text-decoration: none;
	  margin: 25px 0 0 20px;
}
#business .inside .pane-slide-business-new .view-slide-business-new .view-content .views_slideshow_main .views-slideshow-cycle-main-frame-row-item .views-field-field-image{
border:2px solid #4690b6;
width:333px;
float:left;
margin:46px 0 0 17px;
}
#business .inside .pane-slide-business-new .view-slide-business-new .view-content .views_slideshow_main .views-slideshow-cycle-main-frame-row-item .views-field-body{
color: #303030;
    float: left;
    font-family: "Times New Roman",Times,serif;
    font-size: 18px;
    height: 233px;
    line-height: 19px;
    padding: 46px 0 10px 10px;
    text-align: justify;
    text-decoration: none;
    width: 300px;
}
#business .inside .pane-slide-business-new .view-slide-business-new .view-content .views_slideshow_main .views-slideshow-cycle-main-frame-row-item .views-field-view-node a{
    background: url("images/btn-full-text.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: "Times New Roman",Times,serif;
    font-size: 14px;
    height: 30px;
    margin: 0 0 0 10px;
    padding: 7px 21px 11px 13px;
    text-decoration: none;
    text-transform: uppercase;
    width: 98px;
}
/*------ S L I D E S H O W      P A G E R ----*/
#business .inside .pane-slide-business-new .view-slide-business-new .view-content .views-slideshow-controls-bottom {
width:285px;
float:left;
}
#business .inside .pane-slide-business-new .view-slide-business-new .view-content .views-slideshow-controls-bottom .views-slideshow-pager-fields {
height:75px;
color:#303030;
font-family: "Times New Roman",Times,serif;
font-size: 14px;
margin: 0 0 0 10px;
padding: 7px 21px 11px 13px;
text-decoration: none;
text-transform: uppercase;
} 
#business .inside .pane-slide-business-new .view-slide-business-new .view-content .views-slideshow-controls-bottom .views-slideshow-pager-fields .views-slideshow-pager-field-item{
margin: 0px 0 0 -8px;
padding: 24px 0 7px 42px;
width:246px;
height: 58px;
}
#business .inside .pane-slide-business-new .view-slide-business-new .view-content .views-slideshow-controls-bottom .views-slideshow-pager-fields .views-slideshow-pager-field-item .views-field-title .views-content-title{
height:50px;
width: 170px;
color:#4690b6;
font-family: "Times New Roman",Times,serif;
font-size: 14px;
text-decoration: none;
margin-left: 73px;
text-transform: uppercase;
}
#business .inside .pane-slide-business-new .view-slide-business-new .view-content .views-slideshow-controls-bottom .views-slideshow-pager-fields .views-slideshow-pager-field-item .views-field-field-image .views-content-field-image img{
	 border: 1px solid #5A9B9E;
    float: left;
    height: 52px;
    margin: -57px 0 0;
    width: 62px;
}
#business .inside .pane-slide-business-new .view-slide-business-new .view-content .views-slideshow-controls-bottom .views-slideshow-pager-fields .active{
background:#FFF url("images/arrows-slide.png") no-repeat 0 center;
padding: 24px 0 7px 42px;
width:246px;
height: 58px;
} 
#business .inside .pane-slide-business-new .view-slide-business-new .view-content .views-slideshow-controls-bottom .views-slideshow-pager-fields .active .views-content-field-image img{
  border: 1px solid #5A9B9E;
    float: left;
    height: 52px;
    margin: -57px 0 0;
    width: 62px;
}
#business .inside .pane-slide-business-new .view-slide-business-new .view-content .views-slideshow-controls-bottom .views-slideshow-pager-fields .active .views-field-title .views-content-title{
height:50px;
color:#4690b6;
font-family: "Times New Roman",Times,serif;
font-size: 14px;
text-decoration: none;
margin-left: 73px;
text-transform: uppercase;
}
}
#business  .panel-panel {
    overflow: hidden;
}
#business .panel-pane .views-row{
	overflow:hidden; 
	width:700px; 
	height:380px;
	  margin-bottom: 30px;
}
#business .panel-panel .inside .pane-views .pane-content .view-business3 .views-field-title .field-content a {
    background: url("images/title-repeat.png") repeat-x scroll 0 0 transparent;
    color: #4690B6;
    display: block;
    font-family: "Times New Roman",Times,serif;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}
#business .panel-panel .inside .pane-views .pane-content .view-business3 .views-field-field-image{
border:2px solid #4690b6;
width:333px;
float:left;
}
#business .panel-panel .inside .pane-views .pane-content .view-business3 .views-field-body {
font-family:"Times New Roman", Times, serif;
font-size: 18px;
height: 243px;
line-height: 23px;
padding: 0 0 10px 10px;
text-align: justify;
text-decoration:none;
color:#303030;
float:left;
width:310px;
line-height:19px;
}
#business .panel-panel .inside .pane-views .pane-content .view-business3 .views-field-view-node .field-content a{
display:block;
font-family:"Times New Roman", Times, serif;
color:#FFF;
font-size:14px;
text-transform:uppercase;
background:  url('images/btn-full-text.png') no-repeat 0 0;
float:left;
width:98px;
height:30px;
  margin: 0 0 0 10px;
    padding: 7px 21px 11px 13px;
    text-decoration: none;
}
/* ------------- S L I D E S H O W   ------------     I N V E S T I N G --------------- */
#investing .inside .pane-slide-investing .view-slide-investing .view-content{
overflow:hidden;
width:985px;
height:456px;
margin-bottom: 30px;
background: url('images/slide-bg-repeat.png') repeat-y 0 0;
border:3px solid #9fdadd;
}
#investing .inside .pane-slide-investing .view-slide-investing .view-content .views_slideshow_cycle_main {
float:left;
width:685px;
}
#investing .inside .pane-slide-investing .view-slide-investing .view-content .views_slideshow_main .views-slideshow-cycle-main-frame-row-item {
float:left;
width:685px;
}																										
#investing .inside .pane-slide-investing .view-slide-investing .view-content .views_slideshow_main .views-slideshow-cycle-main-frame-row-item .views-field-title-1 .field-content a{
	display:block;
color:#48a9da;
font-family: "Times New Roman",Times,serif;
    font-size: 36px;
	text-decoration: none;
	  margin: 25px 0 0 20px;
}
#investing .inside .pane-slide-investing .view-slide-investing .view-content .views_slideshow_main .views-slideshow-cycle-main-frame-row-item .views-field-field-image{
border:2px solid #4690b6;
width:333px;
float:left;
margin:46px 0 0 17px;
}
#investing .inside .pane-slide-investing .view-slide-investing .view-content .views_slideshow_main .views-slideshow-cycle-main-frame-row-item .views-field-body{
color: #303030;
    float: left;
    font-family: "Times New Roman",Times,serif;
    font-size: 18px;
    height: 233px;
    line-height: 19px;
    padding: 46px 0 10px 10px;
    text-align: justify;
    text-decoration: none;
    width: 300px;
}
#investing .inside .pane-slide-investing .view-slide-investing .view-content .views_slideshow_main .views-slideshow-cycle-main-frame-row-item .views-field-view-node a{
    background: url("images/btn-full-text.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: "Times New Roman",Times,serif;
    font-size: 14px;
    height: 30px;
    margin: 0 0 0 10px;
    padding: 7px 21px 11px 13px;
    text-decoration: none;
    text-transform: uppercase;
    width: 98px;
}
/*------ S L I D E S H O W      P A G E R ----*/
#investing .inside .pane-slide-investing .view-slide-investing .view-content .views-slideshow-controls-bottom {
width:285px;
float:left;
}
#investing .inside .pane-slide-investing .view-slide-investing .view-content .views-slideshow-controls-bottom .views-slideshow-pager-fields {
height:75px;
color:#303030;
font-family: "Times New Roman",Times,serif;
font-size: 14px;
margin: 0 0 0 10px;
padding: 7px 21px 11px 13px;
text-decoration: none;
text-transform: uppercase;
} 
#investing .inside .pane-slide-investing .view-slide-investing .view-content .views-slideshow-controls-bottom .views-slideshow-pager-fields .views-slideshow-pager-field-item{
margin: 0px 0 0 -8px;
padding: 24px 0 7px 42px;
width:246px;
height: 58px;
}
#investing .inside .pane-slide-investing .view-slide-investing .view-content .views-slideshow-controls-bottom .views-slideshow-pager-fields .views-slideshow-pager-field-item .views-field-title .views-content-title{
height:50px;
width: 170px;
color:#4690b6;
font-family: "Times New Roman",Times,serif;
font-size: 14px;
text-decoration: none;
margin-left: 73px;
text-transform: uppercase;
}
#investing .inside .pane-slide-investing .view-slide-investing .view-content .views-slideshow-controls-bottom .views-slideshow-pager-fields .views-slideshow-pager-field-item .views-field-field-image .views-content-field-image img{
	 border: 1px solid #5A9B9E;
    float: left;
    height: 52px;
    margin: -57px 0 0;
    width: 62px;
}
#investing .inside .pane-slide-investing .view-slide-investing .view-content .views-slideshow-controls-bottom .views-slideshow-pager-fields .active{
background:#FFF url("images/arrows-slide.png") no-repeat 0 center;
padding: 24px 0 7px 42px;
width:246px;
height: 58px;
} 
#investing .inside .pane-slide-investing .view-slide-investing .view-content .views-slideshow-controls-bottom .views-slideshow-pager-fields .active .views-content-field-image img{
  border: 1px solid #5A9B9E;
    float: left;
    height: 52px;
    margin: -57px 0 0;
    width: 62px;
}
#investing .inside .pane-slide-investing .view-slide-investing .view-content .views-slideshow-controls-bottom .views-slideshow-pager-fields .active .views-field-title .views-content-title{
height:50px;
color:#4690b6;
font-family: "Times New Roman",Times,serif;
font-size: 14px;
text-decoration: none;
margin-left: 73px;
text-transform: uppercase;
}
}
#investing  .panel-panel {
    overflow: hidden;
}
#investing .panel-pane .views-row{
	overflow:hidden; 
	width:700px; 
	height:380px;
	  margin-bottom: 30px;
}
/*----- VIEWS BELOW SLIDER----*/
#investing .panel-panel .inside .pane-views .pane-content .view-investing3 .views-field-title .field-content a {
    background: url("images/title-repeat.png") repeat-x scroll 0 0 transparent;
    color: #4690B6;
    display: block;
    font-family: "Times New Roman",Times,serif;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}
#investing .panel-panel .inside .pane-views .pane-content .view-investing3 .views-field-field-image{
border:2px solid #4690b6;
width:333px;
float:left;
}
#investing .panel-panel .inside .pane-views .pane-content .view-investing3 .views-field-body {
font-family:"Times New Roman", Times, serif;
font-size: 18px;
height: 243px;
line-height: 23px;
padding: 0 0 10px 10px;
text-align: justify;
text-decoration:none;
color:#303030;
float:left;
width:310px;
line-height:19px;
}
#investing .panel-panel .inside .pane-views .pane-content .view-investing3 .views-field-view-node .field-content a{
display:block;
font-family:"Times New Roman", Times, serif;
color:#FFF;
font-size:14px;
text-transform:uppercase;
background:  url('images/btn-full-text.png') no-repeat 0 0;
float:left;
width:98px;
height:30px;
  margin: 0 0 0 10px;
    padding: 7px 21px 11px 13px;
    text-decoration: none;
}
/* ------------- S L I D E S H O W   ------------     L I F E S T Y L E  --------------- */
#lifestyle  .inside .pane-slide-lifestyle-new .view-slide-lifestyle-new .view-content{
overflow:hidden;
width:985px;
height:456px;
margin-bottom: 30px;
background: url('images/slide-bg-repeat.png') repeat-y 0 0;
border:3px solid #9fdadd;
}
#lifestyle  .inside .pane-slide-lifestyle-new .view-slide-lifestyle-new  .view-content .views_slideshow_cycle_main {
float:left;
width:685px;
}
#lifestyle  .inside .pane-slide-lifestyle-new .view-slide-lifestyle-new  .view-content .views_slideshow_main .views-slideshow-cycle-main-frame-row-item {
float:left;
width:685px;
}																										
#lifestyle  .inside .pane-slide-lifestyle-new .view-slide-lifestyle-new  .view-content .views_slideshow_main .views-slideshow-cycle-main-frame-row-item .views-field-title-1 .field-content a{
	display:block;
color:#48a9da;
font-family: "Times New Roman",Times,serif;
    font-size: 36px;
	text-decoration: none;
	  margin: 25px 0 0 20px;
}
#lifestyle  .inside .pane-slide-lifestyle-new .view-slide-lifestyle-new  .view-content .views_slideshow_main .views-slideshow-cycle-main-frame-row-item .views-field-field-image{
border:2px solid #4690b6;
width:333px;
float:left;
margin:46px 0 0 17px;
}
#lifestyle  .inside .pane-slide-lifestyle-new .view-slide-lifestyle-new  .view-content .views_slideshow_main .views-slideshow-cycle-main-frame-row-item .views-field-body{
color: #303030;
    float: left;
    font-family: "Times New Roman",Times,serif;
    font-size: 18px;
    height: 233px;
    line-height: 19px;
    padding: 46px 0 10px 10px;
    text-align: justify;
    text-decoration: none;
    width: 300px;
}
#lifestyle  .inside .pane-slide-lifestyle-new .view-slide-lifestyle-new  .view-content .views_slideshow_main .views-slideshow-cycle-main-frame-row-item .views-field-view-node a{
    background: url("images/btn-full-text.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: "Times New Roman",Times,serif;
    font-size: 14px;
    height: 30px;
    margin: 0 0 0 10px;
    padding: 7px 21px 11px 13px;
    text-decoration: none;
    text-transform: uppercase;
    width: 98px;
}
/*------ S L I D E S H O W      P A G E R ----*/
#lifestyle  .inside .pane-slide-lifestyle-new .view-slide-lifestyle-new  .view-content .views-slideshow-controls-bottom {
width:285px;
float:left;
}
#lifestyle  .inside .pane-slide-lifestyle-new .view-slide-lifestyle-new  .view-content .views-slideshow-controls-bottom .views-slideshow-pager-fields {
height:75px;
color:#303030;
font-family: "Times New Roman",Times,serif;
font-size: 14px;
margin: 0 0 0 10px;
padding: 7px 21px 11px 13px;
text-decoration: none;
text-transform: uppercase;
} 
#lifestyle  .inside .pane-slide-lifestyle-new .view-slide-lifestyle-new  .view-content .views-slideshow-controls-bottom .views-slideshow-pager-fields .views-slideshow-pager-field-item{
margin: 0px 0 0 -8px;
padding: 24px 0 7px 42px;
width:246px;
height: 58px;
}
#lifestyle  .inside .pane-slide-lifestyle-new .view-slide-lifestyle-new  .view-content .views-slideshow-controls-bottom .views-slideshow-pager-fields .views-slideshow-pager-field-item .views-field-title .views-content-title{
height:50px;
width: 170px;
color:#4690b6;
font-family: "Times New Roman",Times,serif;
font-size: 14px;
text-decoration: none;
margin-left: 73px;
text-transform: uppercase;
}
#lifestyle  .inside .pane-slide-lifestyle-new .view-slide-lifestyle-new  .view-content .views-slideshow-controls-bottom .views-slideshow-pager-fields .views-slideshow-pager-field-item .views-field-field-image .views-content-field-image img{
	 border: 1px solid #5A9B9E;
    float: left;
    height: 52px;
    margin: -57px 0 0;
    width: 62px;
}
#lifestyle  .inside .pane-slide-lifestyle-new .view-slide-lifestyle-new  .view-content .views-slideshow-controls-bottom .views-slideshow-pager-fields .active{
background:#FFF url("images/arrows-slide.png") no-repeat 0 center;
padding: 24px 0 7px 42px;
width:246px;
height: 58px;
} 
#lifestyle  .inside .pane-slide-lifestyle-new .view-slide-lifestyle-new  .view-content .views-slideshow-controls-bottom .views-slideshow-pager-fields .active .views-content-field-image img{
  border: 1px solid #5A9B9E;
    float: left;
    height: 52px;
    margin: -57px 0 0;
    width: 62px;
}
#lifestyle  .inside .pane-slide-lifestyle-new .view-slide-lifestyle-new .view-content .views-slideshow-controls-bottom .views-slideshow-pager-fields .active .views-field-title .views-content-title{
height:50px;
color:#4690b6;
font-family: "Times New Roman",Times,serif;
font-size: 14px;
text-decoration: none;
margin-left: 73px;
text-transform: uppercase;
}
}
#lifestyle  .panel-panel {
    overflow: hidden;
}
#lifestyle .panel-pane .views-row{
	overflow:hidden; 
	width:700px; 
	height:380px;
	  margin-bottom: 30px;
}
/*----- VIEWS BELOW SLIDER----*/
#lifestyle .panel-panel .inside .pane-views .pane-content .view-lifestyle3 .views-field-title .field-content a {
    background: url("images/title-repeat.png") repeat-x scroll 0 0 transparent;
    color: #4690B6;
    display: block;
    font-family: "Times New Roman",Times,serif;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}
#lifestyle .panel-panel .inside .pane-views .pane-content .view-lifestyle3 .views-field-field-image{
border:2px solid #4690b6;
width:333px;
float:left;
}
#lifestyle .panel-panel .inside .pane-views .pane-content .view-lifestyle3 .views-field-body {
font-family:"Times New Roman", Times, serif;
font-size: 18px;
height: 243px;
line-height: 23px;
padding: 0 0 10px 10px;
text-align: justify;
text-decoration:none;
color:#303030;
float:left;
width:310px;
line-height:19px;
}
#lifestyle .panel-panel .inside .pane-views .pane-content .view-lifestyle3  .views-field-view-node .field-content a{
display:block;
font-family:"Times New Roman", Times, serif;
color:#FFF;
font-size:14px;
text-transform:uppercase;
background:  url('images/btn-full-text.png') no-repeat 0 0;
float:left;
width:98px;
height:30px;
margin: 0 0 0 10px;
padding: 7px 21px 11px 13px;
text-decoration: none;
}
/*single article*/
.node-article .content {
overflow:hidden;
width:985px;
}
.node-article .content .field-type-image .field-item img{
	border: 2px solid #4690B6;
    float: left;
    width: 333px;
}
.node-article .content .field-type-text-with-summary .field-item p{
color: #303030;
  width: 510px; 
  float: left;
    font-family: "Times New Roman",Times,serif;
    font-size: 18px;
    line-height: 24px;
    padding: 0 0 10px 10px;
    text-align: justify;
    text-decoration: none;
    
}
 .link-wrapper{display:none;}
 .panel-2col-bricks .panel-col-last {
    float: left;
    width: 310px!important;
}
table.gadget div{
	background: none!important;	
	padding: 0!important;
	border: none!important;
}